:root {
    --color-light-bg: #FFFFFF;
    --color-light-text-color: #333533;
    --color-light-primary-color: #CFDBD5
    --color-dark-bg: #242423;
    --color-dark-text-color: #F5CB5C;
    --color-dark-primary-color: #333533;
}